<section class="dashboard">
  {{#each userPosts}}
  <div class="card">
    <h2><a href="/post/{{id}}">{{title}}</a></h2>
    <a href="/dashboard/{{id}}">Edit</a>
    <p>{{content}}</p>
    <p><strong>Posted on:</strong> {{format_date date_created}}</p>
    {{> comments}}
  </div>
  {{/each}}
</section>
<div class="new-post-container">
  <a href="/dashboard/new">
    <button type="button">+ New Post</button>
  </a>
</div>