{{#if loggedIn}}
<section class="homepage">
  {{#each allPosts}}
  <div class="card">
    <h2><a href="/post/{{id}}">{{title}}</a></h2>
    <p>{{content}}</p>
    <p><strong>Posted on:</strong> {{format_date date_created}}</p>
    {{> comments}}
  </div>
  {{/each}}
</section>
{{else}}
<div class="login-container">
  <p>You must be logged in to view the posts. <a href="/login">Log in</a></p>
</div>
{{/if}}