{{>header}}
<section>
  {{#if blogs.length}}
  <ul>
    {{#each blogs}}
    {{#with this}}
    <li>
      <h2>{{title}}</h2>
      <p>{{content}}</p>
      <p>Author: {{user.username}}</p>
      <p>Post Date: {{formatDate date_created}}</p>
    </li>
    {{/with}}
    {{/each}}
  </ul>
  {{else}}
  <p>No recent blog posts available.</p>
  {{/if}}
</section>
{{>footer}}